[submodule "src/theapps"]
	path = src/theapps
	url = git@github.com:thepian/theapps.git
[submodule "src/thepian-lib"]
	path = src/thepian-lib
	url = git@github.com:thepian/thepian-lib.git
[submodule "src/pyfacebook"]
	path = src/pyfacebook
	url = git://github.com/sciyoshi/pyfacebook.git
[submodule "src/tornado"]
	path = src/tornado
	url = git://github.com/facebook/tornado.git
[submodule "src/thepiandjango"]
	path = src/thepiandjango
	url = git@github.com:thepian/thepiandjango.git
[submodule "src/redis-py"]
	path = src/redis-py
	url = http://github.com/andymccurdy/redis-py.git
