[submodule "extras/jsspec"]
	path = extras/jsspec
	url = git@github.com:thepian/jsspec.git
[submodule "src/thepiandjango"]
	path = src/thepiandjango
	url = git@github.com:thepian/django.git
[submodule "src/theapps"]
	path = src/theapps
	url = git@github.com:thepian/theapps.git
[submodule "src/thepian-lib"]
	path = src/thepian-lib
	url = git@github.com:thepian/thepian-lib.git
[submodule "src/pyfacebook"]
	path = src/pyfacebook
	url = git://github.com/sciyoshi/pyfacebook.git
[submodule "src/tornado"]
	path = src/tornado
	url = git://github.com/facebook/tornado.git
