.Python
*.pyc
#*.tmproj
.svn
.DS_Store
.installed.cfg
*.egg-info
instance-log.txt
pip-log.txt
bin/
develop-eggs/
eggs/
parts/
downloads/
build/
target/
release/
src/thepian-lib
src/theapps
src/geopy
src/pyfacebook
src/thepiandjango
docs/_build
include/python2.6
lib/python2.6
repos/
src/
docs/html/
man/
devdb
testdb
.mr.developer.cfg
*.log
