{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block main %}
    <h1>{% trans "Sign Up" %}</h1>
    
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <p>{% trans "Already have an account?" %} <a href="{% url acct_login %}">{% trans "Log In" %}</a>!</p>
        
        <form class="signup" method="post" action="{% url acct_signup %}">
            <dl>
                {{ form.as_dl }}
                <dd><button type="submit">{% trans "Sign Up &raquo;" %}</button></dd>
            </dl>
<span id="result"></span>
        </form>
        
        {% url terms as terms_url %}
        {% url privacy as privacy_url %}{% url acct_login as openid_url %}
        <p>{% blocktrans %}By clicking "Sign Up", you are indicating that you have read and agree to the 
	<a href="{{ terms_url }}">Terms of Use</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}</p>
        
        <p>{% blocktrans %}If you have any trouble creating your account, contact us at 
	<a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.{% endblocktrans %}</p>
        
        <p>{% blocktrans %}If you have OpenID, <a href="{{ openid_url }}">log in</a> 
	using that to begin using this site with OpenID right away.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

{% block bodyscripts %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}